{%extends "./base.html" %}
{%block titulo %}{{titulo}}{% endblock%}
{%block contenido%}

<div class="container">
    <div class="row">
        <div class="col">
            <a href="/"><h3>Go Back</h3></a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Edit a new Show{{show.id}}</h1>
            <form action="/shows/{{show.id}}/edit" method="POST">
                {% csrf_token %}
                <label for="title">Title</label>
                <input type="text" name="title" id="" value="{{show.title}}">
                <label for="network">Network</label>
                <input type="text" name="network" id="" value="{{show.network}}">
                <label for="release_date" >Release Date</label>
                <input type="date" name="release_date" id="" value="{{show.release_date|date:'Y-m-d'}}">
                <label for="description">description</label>
                <input type="text-area" name="description" value="{{show.description}}">
                <button type="submit">Updated</button>
            </form>
        </div>
    </div>
</div>
{%endblock%}