{%extends "./base.html" %}
{%block titulo %}{{titulo}}{% endblock%}
{%block contenido%}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{titulo}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Network</th>
                            <th>Relesase Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for programa in programas%}
                        <tr>
                            <td>{{programa.id}}</td>
                            <td>{{programa.title}}</td>
                            <td>{{programa.network}}</td>
                            <td>{{programa.release_date}}</td>
                            <td>
                                <p class="opciones"><a href="">Show |</a></p>
                                <p class="opciones"><a href="">Edit |</a></p>
                                <p class="opciones" onclick="enviar()" style="cursor:pointer">Delete {{programa.id}}</p>
                            </td>
                        </tr>
                        {%endfor%}
                        <form action="/" method="POST" name="formularioSubmit">{% csrf_token %}</form>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="new">Add a New Show</a>
            </div>
        </div>
    </div>
{%endblock%}
{%block estilo%}
<style>
    .opciones{
        display: inline;
        color: black;
    }
    a{
    text-decoration: none;
    color: black;
    }
    a:hover{
        color:black;
    }
</style>
{%endblock%}
{%block script%}
<script>
    function enviar()
    {
        document.formularioSubmit.submit()
    }
</script>
{%endblock%}