{%extends "./base.html" %}
{%block titulo %}{{titulo}}{% endblock%}
{%block contenido%}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{titulo}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Network</th>
                            <th>Relesase Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in show%}
                        <tr>
                            <td><a href="{{s.id}}"></a>{{s.id}}</a></td>
                            <td>{{s.title}}</td>
                            <td>{{s.network}}</td>
                            <td>{{s.release_date|date:'F j,Y'}}</td>
                            <td>
                                <p class="opciones"><a href="/shows/{{s.id}}">Show |</a></p>
                                <p class="opciones"><a href="/shows/{{s.id}}/edit">Edit |</a></p>
                                <p class="opciones"onclick=enviar({{s.id}}) style="cursor:pointer" >Delete</p>
                            </td>
                        </tr>
                        <form action="/shows/{{s.id}}/delete" method="POST" id="{{s.id}}">{% csrf_token %}</form>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="new"><h4>Add a New Show</h4></a>
            </div>
        </div>
    </div>
{%endblock%}
{%block estilo%}
<style>
    .opciones{
        display: inline;
        color: black;
    }
    a{
    text-decoration: none;
    color: black;
    }
    a:hover{
        color:black;
    }
</style>
{%endblock%}
{%block script%}
<script>
    function enviar(id){
        let formulario = document.getElementById(id);
        formulario.submit();
    }
</script>
{%endblock%}