{%extends "./base.html" %}
{%block titulo %}{{titulo}}{% endblock%}
{%block contenido%}
<div class="row">
    <div class="col">
        <a href="/"><h3>Go Back</h3></a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>TV Show: {{programas.id}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Title: {{show.title}}</h3>
            <h3>Network: {{show.network}}</h3>
            <h3>Release Date: {{show.release_date}}</h3>
            <h3>Description: {{show.description}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Last Updated: {{show.updated_at}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="/shows/{{show.id}}/edit">Edit</a>
            <a href="/shows/{{show.id}}/delete">Delete</a>
        </div>
    </div>
</div>


{%endblock%}